/* global */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 14px;
  color: #2d2d2d;
}
em {
  font-style: italic;
}
html {
  scroll-behavior: smooth;
}

strong {
  font-weight: 700;
}
a {
  color: black;
}

a:hover {
  color: #b64036;
}

.span {
  text-align: center;
}

/* banner */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 2.5rem;
  padding: 2rem 0;
}

.header-parent {
  display: flex;
  width: auto;
  height: 16vh;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-child img {
  width: auto;
  height: 8vh;
  object-fit: contain;
}
.header-child a {
  color: #e2574c;
}
.header-child:nth-child(1) {
  margin-left: 1rem;
  order: 1;
}

.header-child:nth-child(2) {
  font-size: 1rem;
  order: 3;
  width: 90vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  margin: 0 auto;
}
.header-child:nth-child(3) {
  margin-right: 1rem;
  order: 2;
}
.border {
  border-top: 0.25rem solid #d7d7d7;
}
.nav-bar-child {
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.title {
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
}

.season {
  display: block;
  text-transform: none;
  padding: 0 15vw;
}

.banner {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/banner-girl.png"), url("../images/flower-bkgd.jpg");
  text-align: center;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: bottom center;
  background-size: cover, contain, cover;
}

.container-small {
  width: 85vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 2rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.categories {
  display: flex;
  width: 100vw;
  justify-content: right;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}
.category-large {
  position: relative;
  width: 100vw;
  height: 25vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 0.3rem solid white;
}

.category {
  position: relative;
  width: 50vw;
  height: 25vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 0.3rem solid white;
}

.category-large:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/mens-category.jpg");
}

.category:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/trends-category.jpg");
}
.category:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/glasses-category.jpg");
}
.category:nth-child(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/sale-category.jpg");
}
.category:nth-child(5) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/bags-category.jpg");
}

.category-large:nth-child(6) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/womens-category.jpg");
}

.category-large h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.category h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.subscribe {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/wave-bkgd.jpg");
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  color: white;
}
.email-subscription {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.email-subscription-input {
  width: 100%;
  border-radius: 20px;
  padding: 4px 10px;
  color: #969696;
}

.submit-button {
  background: #e2574c;
  color: white;
  padding: 2px 10px;
  position: absolute;
  top: 6px;
  right: 2px;
  border-radius: 20px;
}

.footer-parent {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  background: #242424;
  width: 100vw;
  color: white;
  padding-top: 2rem;
}

.footer-info {
  flex-direction: column;
  line-height: 1.5;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 1rem;
}
.footer-info a {
  color: white;
  text-decoration: none;
}

.footer-info:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-info:nth-child(2) span {
  text-decoration: underline;
}

.footer-info:nth-child(4) span {
  display: none;
}

.address {
  color: #969696;
}

.icon-width {
  width: 4vw;
}
.carousel-cell {
  width: 100%;
  text-align: center;
}

/* Tablet Breakout */

@media screen and (min-width: 600px) {
  html,
  body {
    font-size: 16px;
  }
  .header-parent {
    height: 10vh;
    justify-content: space-around;
  }

  .header-child {
    height: 15vh;
  }
  .header-child img {
    width: 10vw;
    height: 10vh;
  }

  .header-child:nth-child(1) {
    order: 1;
  }

  .header-child:nth-child(2) {
    font-size: 1.5rem;
    width: 60vw;
    order: 2;
  }

  .header-child:nth-child(3) {
    order: 3;
  }

  .border {
    border: none;
  }

  .category-large {
    width: 50vw;
    height: 25vh;
  }

  .category {
    width: 25vw;
    height: 25vh;
  }

  .footer-parent {
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: 30vh;
  }

  .footer-info:nth-child(4) span {
    display: contents;
  }

  .footer-info:nth-child(4) {
    width: 25vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    line-height: 1.5;
  }
  .footer-info:nth-child(2) {
    justify-content: left;
  }
  .footer-info {
    width: 50vw;
    text-align: left;
    padding-left: 3rem;
  }
  .carousel-cell {
    width: 50%;
  }
}

/* Desktop breakout  */
@media screen and (min-width: 1240px) {
  .banner {
    height: 70vh;
    background-position: top center;
    background-size: cover, 20%, cover;
  }

  .container-small {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2rem;
  }

  .categories {
    height: 100vh;
    width: 100vw;
  }
  .category-large {
    width: 50vw;
    height: 50vh;
  }

  .category {
    width: 25vw;
    height: 50vh;
  }
  .carousel-cell {
    width: 25%;
  }
}
